html {
 
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: white;
  }

h1 {
    font-family: 'Geostar', cursive;
    font-family: 'Barlow', sans-serif;

    font-size: 80px;
    text-align: center;
    background-color: #8B0000;
    color: white;
    border-radius: 12px;

    margin: 0;
    padding: 20px 0;    
    
    /* text-shadow: 3px 3px 1px rgb(234, 238, 235); */
  }
  
p  {

    font-size: 20px;    
    line-height: 1.5;
    letter-spacing: 1px;
  }

li{
 
    font-size: 22px;    
    line-height: 1.75;
    letter-spacing: 1px;
    color: rgb(131, 125, 125);
  }



body {
 
    width: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
  }



img { 
           /* centers the image */
    display: block;
    margin: 0 auto;
  }

button {

    background-color: white; /* Green */
    border: 2px solid #8B0000;
    border-radius: 12px;  /* rounded borders */
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px

    -webkit-transition-duration: 0.4s; /* Button animation duration */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #8B0000; /* Change button to these setting when mouse hovered over it */
    color: white;
  }