html {
 
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: white;
  }

h1 {
    

    font-size: 80px;
    text-align: center;
    background-color: rgb(0, 204, 204);
    color: white;
    border-radius: 12px;

    margin: 0;
    padding: 20px 0;    
    
    /* text-shadow: 3px 3px 1px rgb(234, 238, 235); */
  }

.darker-grotesque {
  font-family: 'Darker Grotesque', sans-serif
}
  
p  {

    font-size: 20px;    
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(51, 77, 77);
    font-family: 'Darker Grotesque', sans-serif;
  }
  

li{
 
    font-size: 20px;    
    line-height: 1.75;
    letter-spacing: 1px;
    color: rgb(51, 77, 77);
    font-family: 'Darker Grotesque', sans-serif;
  }



body {
 
    width: 1500px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
  }



img { 
           /* centers the image */
    display: block;
    margin: 0 auto;
  }

button {

    background-color: white; /* Green */
    border: 2px solid rgb(0, 204, 204);
    border-radius: 12px;  /* rounded borders */
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px

    -webkit-transition-duration: 0.4s; /* Button animation duration */
    transition-duration: 0.4s;
    font-family: 'Darker Grotesque', sans-serif
}

button:hover {
    background-color: rgb(0, 204, 204); /* Change button to these setting when mouse hovered over it */
    color: white;
  }

h2 {
  font-size: 35px;
  font-family: 'Darker Grotesque', sans-serif;
  color: rgb(20, 31, 31);
}

table, td, th {
  border: 2px solid #A9A9A9;
  padding: 15px;
  text-align: center;
}

table {
  border-collapse: collapse;   /* Multiple borders collapsed into a single one */
  width: 100%;  /*Whole table spans across entire page */

}

a {
  color: rgb(0, 230, 230);
}

.publish-time {      /*This class is selected here */
  color:gray;
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
}

#rb-icon {
  height: 600px;
}

hr {
  color: rgb(204, 221, 255);
}
